# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
todo-app-frontend/node_modules
todo-app-frontend/.pnp
todo-app-frontend/.pnp.js

# testing
todo-app-frontend/coverage

# production
todo-app-frontend/build

# misc
todo-app-frontend/.DS_Store
todo-app-frontend/.env.local
todo-app-frontend/.env.development.local
todo-app-frontend/.env.test.local
todo-app-frontend/.env.production.local

todo-app-frontend/npm-debug.log*
todo-app-frontend/yarn-debug.log*
todo-app-frontend/yarn-error.log*

#python
todo-app-backend/env
